body { width: 200px; height: auto; }
.column{
height: 450px;
width: 300px;
background-color: green;
padding-top: 20px;
padding-left: 40px;
}
.column p{
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}
input{
    width: 210px;
    height: 50px;
    font-size: 20px;
}
.Batoom{
 display: flex; 
}
.Calcu{
    margin-top: 25px;
    width: 150px;
    height: 60px;
    font-size: 20px;

}
.Clear{
    margin-left: 10px;
    margin-top: 25px;
    width: 60px;
    height: 60px;
    
}
